---

---

<!-- <section> -->
  <div class="relative not-prose scroll-mt-[72px]">
    <div class="relative mx-auto max-w 7xl px-4 md:px-1 py-2 md-py-6 lg:py-10 text-default">
      <slot />
    </div>
  </div>
<!-- </section> -->
