---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Satrang Technologies',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'View our products',
        href: '/satrangtech/products',
        icon: 'tabler:building-store',
      },
      {
        text: 'Learn More',
        href: '/satrangtech/company/about-us',
        icon: 'tabler:arrow-up-right',
      },
    ]}
  >
    <Fragment slot="title">Your one stop Salesforce shop. Innovation delivered!</Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Satrang Technologies</span> is a Salesforce Registered Cloud Alliance Partner,
        specializing in Salesforce Cloud services for businesses.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
       Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages
      & Blogs.
    </Fragment>
  </Hero>

  <Note />

  <Content
    isReversed
    tagline="popular services"
    title="Satrang Tech's popular services"
    items={[
      {
        title: 'Stategic Business Value',
        description:
          'Provides strategic business value by analyzing goals and requirements, offering end-to-end Salesforce solutions that align with strategic objectives, including migration and deployment of existing systems.',
      },
      {
        title: 'Comprehensive Capabilities',
        description:
          'Brings a comprehensive set of capabilities to the table. This includes performing detailed requirements analysis, gap analysis, and feasibility studies.',
      },
      {
        title: 'Full Approach',
        description:
          'Offers tailor-made Salesforce solutions, aligning with your unique business needs. This, combined with their expertise in Salesforce and migration, provides a comprehensive solution for your organization.',
      },
    ]}
    image={{
      src: 'https://5.imimg.com/data5/IO/NJ/GLADMIN-8879814/salesforce-consulting-500x500.jpg',
      alt: 'Salesforce Consulting',
    }}
    callToAction={{
      icon: 'tabler:chevrons-right',
      text: 'View Details',
      href: '/satrangtech/services',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Salesforce Consulting</h3>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Cloud Solution Expertise',
        description: `Have the expertise to develop top-tier cloud solutions that are scalable, secure, intelligent, and user-friendly.`,
      },
      {
        title: 'Commitment to Quality',
        description:
          'Offers commitment to customer success is evident through their in-house expertise, including certified Force.com Developers, Administrators, and Consultants, ensuring high-quality solutions.',
      },
      {
        title: 'Diverse Salesforce Capabilities',
        description:
          'Provides Salesforce services including configuration, development, and integration for smooth workflow and data management.',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/1181467/pexels-photo-1181467.jpeg?auto=compress&cs=tinysrgb&w=600',
      alt: 'Force.com Devlopment',
    }}
    callToAction={{
      icon: 'tabler:chevrons-right',
      text: 'View Details',
      href: '/satrangtech/services',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Force.com Development</h3>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'AppExchange Development Services',
        description:
          "Provides specialized services for app development for deployment on Salesforce.com's AppExchange, showcasing their expertise in this domain.",
      },
      {
        title: 'Go to Market Expertise',
        description:
          'Possess extensive knowledge of Force.com, enabling them to develop effective go-to-market strategies, create new AppExchange products, and enhance the Salesforce ecosystem.',
      },
      {
        title: 'Comprehensive AppExchange Services',
        description:
          'Services encompass blueprint and prototyping, app design, development, packaging, deployment, and management.',
      },
    ]}
    image={{
      src: 'https://www.simplilearn.com/ice9/free_resources_article_thumb/Building-a-career-in-Mobile-App-Development.jpg',
      alt: 'App Devlopment',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">AppExchange App Development</h3>
    </Fragment>
  </Content>

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `We needed a solid Salesforce consultant when we found Satrang Technologies. We have now involved them with multiple Salesforce related projects and feel like they always do an exceptional job. We would recommend them for any Salesforce work as they are a highly qualified source.`,
        name: 'President, ProEst',
      },
      {
        testimonial: `We chose Satrang Technologies for our Salesforce development needs because they were able to develop world-class solutions on time and budget. Satrang has been our choice since 2010 and has completed over 7 major projects. They are second to none.`,
        name: 'President & CEO, Irvin Simon Photographers',
      },
    ]}
    callToAction={{
      text: 'Read More...',
      href: '/satrangtech/clients',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <Features2
    title="Explore our Famous products"
    subtitle="See our products that make your life easier"
    columns={3}
    items={[
      {
        icon: 'tabler:search',
        title: 'Metadata Search',
        description: 'One click search for Metadata components.',
        callToAction: {
          text: 'View Product',
          href: '/satrangtech/products/metadata-search',
          icon: 'tabler:chevron-right',
        },
      },
      {
        icon: 'tabler:drag-drop',
        title: 'Drag, Drop & Create Multiple External Links',
        description: 'Quickly add multiple external links!',
        callToAction: {
          text: 'View Product',
          href: '/satrangtech/products/drag-drop-create-multiple-external-links',
          icon: 'tabler:chevron-right',
        },
      },
      {
        icon: 'tabler:upload',
        title: 'Chatter Photos Bulk Importer',
        description: 'For bulk Chatter profile photo uploads, Chatter Photos Bulk Importer is ideal.',
        callToAction: {
          text: 'View Product',
          href: '/satrangtech/products/chatter-photos-bulk-importer',
          icon: 'tabler:chevron-right',
        },
      },
    ]}
    callToAction={{
      icon: 'tabler:chevron-right',
      text: 'View More Products',
      href: '/satrangtech/products',
    }}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'View our products',
        href: '/satrangtech/products',
        target: '_blank',
        icon: 'tabler:building-store',
      },
    ]}
  >
    <Fragment slot="title">Satrang Technologies</Fragment>
    <Fragment slot="subtitle"></Fragment>
  </CallToAction>
</Layout>
